
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="cache-control" content="no-cache"></meta>
    <meta http-equiv="pragma" content="no-cache"></meta>
    <meta http-equiv="expires" content="0"></meta>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<%= htmlWebpackPlugin.options.el %>
</body>
</html>
